.search-bar {
  margin: 80px;
  text-align: center;
}

.search-bar input {
  width: 60%;
}

.video-item img {
  max-width: 64px;
}

.enlarge{
  padding-top: 5%;
}
.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.details {
  background-color: #eee;
}
.main {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #ffffff ;

}

.container {
  /*background-color: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 55%,#e0eff9 100%;*/
  background: linear-gradient(to bottom, #a90329 0%,#ffffff 33%,#0000ff 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
